/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: hsl(0, 0%, 0%);
    --black-color: hsl(0, 0%, 100%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
input,
button {
    font-size: var(--normal-font-size);
    font-family: var(--body-font), serif;
}

body {
    color: var(--white-color);
}

input,
button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== retrieve ===============*/
.retrieve {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
}

.retrieve__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.retrieve__form {
    position: relative;
    background-color: hsla(0, 0%, 10%, 0.1);
    border: 2px solid var(--white-color);
    margin-inline: 1.5rem;
    left: -75%;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    background-color: #fff
}

.retrieve__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
}

.retrieve__box {
    display: grid;
}

.retrieve__content {
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
}

.retrieve__box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
    border-bottom: 2px solid var(--white-color);
}

.retrieve__icon, .retrieve__eye {
    font-size: 1.25rem;
}

.retrieve__input {
    width: 100%;
    padding-block: 0.8rem;
    background: none;
    color: var(--white-color);
    position: relative;
    z-index: 1;
}

.retrieve__box-input {
    position: relative;
}

.retrieve__label {
    position: absolute;
    left: 0;
    top: 13px;
    font-weight: var(--font-medium);
    transition: top 0.3s, font-size 0.3s;
}

.retrieve__eye {
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 10;
    cursor: pointer;
}

.retrieve__box:nth-child(2) input {
    padding-right: 1.8rem;
}

.retrieve__check{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.retrieve__forgot {
    color: var(--white-color);
}

.retrieve__forgot:hover {
    text-decoration: underline;
}

.retrieve__button {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.22);
    font-weight: var(--font-medium);
    cursor: pointer;
    margin-bottom: 2rem;
}

.retrieve__retrieve {
    text-align: center;
}

.retrieve__retrieve a {
    color: var(--white-color);
    font-weight: var(--font-medium);
}

.retrieve__retrieve a:hover {
    text-decoration: underline;
}

/* Input focus move up label */
.retrieve__input:focus + .retrieve__label {
    top: -12px;
    font-size: var(--small-font-size);
}

/* Input focus sticky top label */
.retrieve__input:not(:placeholder-shown).retrieve__input:not(:focus) + .retrieve__label {
    top: -12px;
    font-size: var(--small-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
    .retrieve {
        justify-content: center;
    }

    .retrieve__form {
        width: 432px;
        padding: 4rem 3rem 3.5rem;
        border-radius: 1.5rem;
    }

    .retrieve__title {
        font-size: 2rem;
    }
}