<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <link rel="stylesheet" href="../../layui/extend/dtree.css">
    <link rel="stylesheet" href="../../layui/extend/font/dtreefont.css">
    <style>
        .layui-form{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            height: 100vh;
        }
        .buttun{
            display: flex;
        }
        .input{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            height: 400px;
        }
    </style>
</head>
<body>
<form class="layui-form">
           <div class="input">
               <div>
                    <span style="margin-right: 20px;margin-top:10px; white-space: nowrap;font-size: 15px;float: left">词条名字</span>
                    <input type="text" name="wikisTitle" lay-filter="formFilter" lay-verify="required" placeholder="请输入" class="layui-input" id="inputo" style="width: 260px">
               </div>
               <div>
                    <span style="margin-right: 20px;margin-top:10px; white-space: nowrap;font-size: 15px;float: left">词条内容</span>
                    <input type="text" name="wikisInfo" lay-filter="formFilter" lay-verify="required" placeholder="请输入" class="layui-input" id="inputt" style="width: 260px">
               </div>
               <div class="layui-form-item">
                   <label class="layui-form-label">所属板块</label>
                   <div class="layui-input-block">
                       <select name="wikiSectionId" lay-verify="required" lay-search>
                           <!-- 这里会用JavaScript渲染选项 -->
                       </select>
                   </div>
               </div>
           </div>
            <div class="buttun">
                <button class="layui-btn" lay-submit lay-filter="demo-submit" lay-on="msg">提交</button>
                <button type="button" class="layui-btn layui-bg-red" id="section-cancel">取消</button>
            </div>
</form>
<script src="../../layui/layui.js"></script>
<script>
    function receiveData(data) {
        const Data = data;
        console.log(Data);
        layui.use('form',function () {
            var form = layui.form, //加载表单
                $ = layui.$;
            let layer = layui.layer;
            var index = parent.layer.getFrameIndex(window.name); // 先得到当前 iframe 层的索引
            $('#inputo').val(Data.wikisTitle);
            $('#inputt').val(Data.wikisInfo);
            form.on('submit(demo-submit)', function(data){
                var field = data.field; // 获取表单全部字段值
                var elem = data.elem; // 获取当前触发事件的元素 DOM 对象，一般为 button 标签
                var elemForm = data.form; // 获取当前表单域的 form 元素对象，若容器为 form 标签才会返回。
                field['wikiId'] = Data.wikiId;
                field = JSON.stringify(field);
                console.log(field);
                $.post("/wiki/updateByTitle",field,function (resp){
                    if(resp==="success"){
                        layer.msg("修改成功",{time:600,icon:1},function () {
                            parent.layer.close(index);
                        });// 再执行关闭
                    }
                });
                return false; // 阻止默认 form 跳转
            });
            $('#section-cancel').on('click', function(){
                console.log("ok");
                parent.layer.close(index);
                return false;
            });
            $.get("/sector/selectAll",function (resp) {
                var data = resp.data;
                // 渲染下拉框
                var selectHTML = '';
                for (var i = 0; i < data.length; i++) {
                    selectHTML += '<option value="' + data[i].sectionId + '">' + data[i].sectionName + '</option>';
                }
                $('select[name="wikiSectionId"]').html(selectHTML);
                $('select[name="wikiSectionId"]').val(Data.wikiSectionId);
                console.log(Data.wikiSectionId);
                // 重新渲染表单
                form.render('select');

            });

        })
    }


</script>
</body>
</html>