<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>

<body>
<div id="app">
    <el-row>
        <el-button type="primary" plain @click="dialogVisible = true">新增</el-button>
    </el-row>
    <!--添加数据对话框表单-->
    <el-dialog
            title="编辑信息"
            :visible.sync="dialogVisible"
            width="20%"
    >
        <el-form ref="form" :model="brand" label-width="80px">
            <el-form-item label="姓名">
                <el-input v-model="_this.brandName"></el-input>
            </el-form-item>

            <el-form-item label="密码">
                <el-input v-model="brand.ordered"></el-input>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="addBrand">提交</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>


    <!--表格-->
    <template>
        <el-table

                :data="tableData"
                style="width: 100%">

            <!--复选框-->
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>

            <!--id编号-->
            <el-table-column
                    type="index"
                    width="55">
            </el-table-column>

            <el-table-column
                    prop="managerName"
                    label="姓名"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="managerPassword"
                    label="密码"
                    align="center"
            >
            </el-table-column>

            <el-table-column
                    align="center"
                    label="操作">

                <el-row>
                    <el-button type="primary">修改</el-button>
                    <el-button type="danger">删除</el-button>
                </el-row>

            </el-table-column>
        </el-table>
    </template>

</div>

<script src="../../js/axios-0.18.0.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../../element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#app",
        data(){
            return{
                users:[]
            }
        },
        methods: {

            selectAll() {
                var _this=this;
                // this.selectAll();
                axios({
                    method:"get",
                    url:"/users/selectAll"
                }).then(function (resp){
                    _this.tableData=resp.data;
                })
            },

            // 查询方法
            onSubmit() {
                // console.log(this.brand);
                this.selectAll();

            },

            // 添加数据
            addBrand() {
                var _this = this;
                // console.log(this.brand);
                //发送请求ajax异步请求，添加数据
                axios({
                    method: "post",
                    url: "http://localhost/brand_case_war/brand/add",  //接口
                    /*10.0.202.158*/
                    data: _this.manager
                }).then(function (resp) {
                    if (resp.data == "success") {
                        //添加成功
                        //关闭窗口
                        _this.dialogVisible = false
                        //重新查询数据
                        _this.selectAll();
                        //弹出消息提示
                        _this.$message({
                            message: '恭喜你，添加成功！',
                            type: 'success'
                        });
                    }
                })
            },



        },
        data() {
            return {
                value: true,
                //总记录数
                totalCount: 100,

                //每页显示的条数
                pageSize: 5,

                // 当前页码
                currentPage: 1,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,

                // 品牌模型数据
                brand: {
                    brandName: '',
                    companyName: '',
                    id: "",
                    ordered: "",
                    description: ""
                },

                //被选中的ids
                selectIds: [],


                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                tableData: [{
                    managerName: 'songci',
                    managerPassword: '100165',

                }, {
                    managerName: 'hmg',
                    managerPassword: '1025610',

                }, {
                    managerName: 'wangdandan',
                    managerPassword: '100156',

                }, {
                    managerName: 'zhaixuanhao',
                    managerPassword: '14650',

                }, {
                    managerName: 'wanglei',
                    managerPassword: '14560',

                }, {
                    managerName: 'zhangli',
                    managerPassword: '10260',

                },
                    {
                        managerName: 'tiger',
                        managerPassword: '100',
                    }, {
                        brandName: '华为',
                        ordered: '100',
                    }]
            }
        }
    })

</script>


</body>
</html>