<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.mapper.UsersMapper">
    <resultMap id="usersResultMap" type="users">
        <result property="userId" column="user_id" />
        <result property="userName" column="user_name" />
        <result property="userPass" column="user_pass" />
        <result property="userRealname" column="user_realname" />
    </resultMap>


    <delete id="deleteByIds">
        delete from users where user_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{userId}
        </foreach>
    </delete>

</mapper>